<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="data.mime">
        <system.webServer>
            <staticContent>
                <remove fileExtension=".mine" />
                <mimeMap fileExtension=".mine" mimeType="application/octet-stream" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
